.sortable{
  background: #000;
  color:white;
  padding: 5px 30px 5px 0;
  position:relative;
}

.sortable--down:after{
  content: "\2191";
  color:red;
  display:block;
  position:absolute;
  margin: -20px 4px 0 0;
  right:0;
}

.sortable--up:after{
  content: "\2193";
  color:red;
  display:block;
  position:absolute;
  margin: -20px 4px 0 0;
  right:0;
}

.table-responsive{
  max-width: 100%;
  border: 1px solid #ebeced;
  overflow: scroll;
  height: 50vh;
}

.long-text{
  display:inline-block;
  height:80px;
  overflow:hidden;
}

th{
  border-bottom: 1px solid #ebeced;

}

td,th{
  border-right: 1px solid #ebeced;
  padding:5px;
}

.view-settings{
  display:none;
}

.body{
  &--view-settings-active{
    .view-settings{
      display:block;
    }
  }
}

.open-view-settings{

}

.cellHidden{
  display:none;
}

.rows-filter {
  display: block;
  padding: 5px;
  margin: 5px 0;
}